extends layout

block content
  .container
    if (!user)
      a(href='/login') Login
      br
      a(href='/register') Register
    else
      p Logged in as #{user.email}
      a(href='/logout') Logout
    #app
