extends layout

block content
  .container
    h1 Sign Up
    form(role='form', action='/signup', method='post')
      .form-group
          input.form-control(type='text', name='username', placeholder='Email')
      .form-group
        input.form-control(type='password', name='password', placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type='button') Cancel
    br
    a(href='/login') Login
